.full-height{
    height: 100vh;
}

.asp-card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px #ddd;
}

.img-back{
 background-image: 'url(./images/bck.png)';
}

.inter-normal {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
  }
  input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: 0px;
    color: #000;
  }
  .input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50.9px;
    border-radius: 6.95px;
    box-shadow: 0.5px 0.5px 0.5px 1px #EDEDED;
  }
  .input-wrapper-active{
    border: solid 1px #FA0006;
  }
  .rubik-normal {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .rubik-bold {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight:bold;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43.93px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border-radius: 6.95px;
  }
  .btn-active{
    background-color: #7001F9;
  }
  .btn-inactive{
    background-color: #F9F4FF;
  }